# Ignore specific files for now. These will be removed later.
values.yaml
hosts.old


# Ignore the .certs folder
.certs

# Ignore monitoring repo. Help resolve high CPU usage for cluster
clusters/staging/monitoring.yaml
