apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      volumes:
        - name: mealie-data
          persistentVolumeClaim:
            claimName: mealie-data-pvc
      containers:
      - image: ghcr.io/mealie-recipes/mealie:v3.4.0
        name: mealie
        ports:
          - containerPort: 9000
        envFrom:
          - secretRef:
              name: mealie-container-env
        securityContext:
          allowPrivilegeEscalation: false
        volumeMounts:
          - mountPath: "/etc/mealie/data"
            name: mealie-data

